.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "jr jr en en en main main main main"
    "jr jr en en en main main main main"
    "st st en en en main main main main"
    ".  .  en en en ed   ed   ed   ed";
}

.journals {
  grid-area: jr;
}
.settings {
  grid-area: st;
}
.entries {
  grid-area: en;
}
.entry-input {
  grid-area: main;
}
.edit {
  grid-area: ed;
}
h5 {
  display: inline;
}