body {
    background: #121212;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    float: right;
}
input {
    display: flex;
    margin: 3vh;
}
button {
    margin: 2vh;
}
.login-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: #006064;
}
.register-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: #006064;
}